# Web Framework
flask
flask_sqlalchemy

# Database
SQLAlchemy

# Machine Learning
scikit-learn
pandas
numpy

# Data Visualization
matplotlib


# Environment & Security
python-dotenv
werkzeug

# Testing
pytest
pytest-flask

# Code Quality
black
flake8
